<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <div class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">Route A
          </div>
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
                <button (click)="calculateMaxProfit()" class="button-29" role="button">Calculate Max Profit</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>